*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
	display:flex;
	flex-wrap: wrap;
}

body{
    background-color:#595793;
    margin:200px;
    padding: 20px;
	width:60%;
    margin-bottom:50px;
	padding:20px;
}
.content{
	position:absolute;
	top:100px;
	left:450px;
	width:30%;
	background-color:#fff;
	border-color:white;
	border-radius:10px;
    border: none;
	border-radius:20px;
	padding:5px;
	
	
}


.content h2{
		text-align:center;
		font-family:san-tarif;
		font-size:30px;
		padding-top:10px;
}

.content input,select{
	padding:3px;
	margin:20px;
	width:80%;
	height:30px;
	background-color:#E8E8E8;
	color:black;
	
}

.content h3{
	font-family:san-tarif;
	font-size:13px;
	color:red;
	padding-left:12px;
}

#submit{
	font-family:san-tarif;
	font-size:15px;
	text-align:center;
	background-color:#534DE0;
	color:white;
	width:20%;
	text-align:center;
	font-variant:bold;
	margin-left:130px;
}